@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-full-width-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex-vertical-center {
    display: flex;
    align-items: center;
}

@mixin flex-horizontal-center {
    display: flex;
    justify-content: center;
}

// MEDIA QUERIES MANAGER
/*
576px               Mini Phone
576px - 767px       Phone
768px - 991px       Tablet
992px - 1199px      Laptop
1200px+             Desktop
*/

/*
    $breakpoint choices:
    - phone - sm
    - tablet - md
    - laptop - lg
    - desktop - xl
    ORDER: base + typography > general layout + grid > page layout > components
*/
@mixin respond-above($breakpoint) {

    @if map-has-key($breakpoints, $breakpoint) {

        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media(min-width: $breakpoint-value) {
            @content;
        }
    }

    @else if map-has-key($breakpoints-simple, $breakpoint) {

        $breakpoint-value: map-get($breakpoints-simple, $breakpoint);

        @media(min-width: $breakpoint-value) {
            @content;
        }
    }

    @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

@mixin respond-below($breakpoint) {
    @if map-has-key($breakpoints, $breakpoint) {

        $breakpoint-value: map-get($breakpoints, $breakpoint);

        @media(max-width: ($breakpoint-value - 1)) {
            @content;
        }
    }

    @else if map-has-key($breakpoints-simple, $breakpoint) {

        $breakpoint-value: map-get($breakpoints-simple, $breakpoint);

        @media(max-width: ($breakpoint-value - 1)) {
            @content;
        }
    }

    @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}

@mixin respond_between($lower, $upper) {

    @if map-has-key($breakpoints, $lower) and map-has-key($breakpoints, $upper) {

        $lower-value: map-get($breakpoints, $lower);
        $upper-value: map-get($breakpoints, $upper);

        @media(min-width: $lower-value) and (max-width: ($upper-value - 1)) {
            @content;
        }
    }

    @else if map-has-key($breakpoints-simple, $lower) and map-has-key($breakpoints-simple, $upper) {

        $lower-value: map-get($breakpoints-simple, $lower);
        $upper-value: map-get($breakpoints-simple, $upper);

        @media(min-width: $lower-value) and (max-width: ($upper-value - 1)) {
            @content;
        }
    }

    @else {
        @warn 'Invalid breakpoint: #{$breakpoint}.';
    }
}