// colors
$color-primary: #ee3364;

$color-secondary: #00b5bc;
$color-link: #ef4c14;

//$color-tertiary-light: #2998ff;
//$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-light-3: #ddd;

$color-gray-dark-1: #777;
$color-gray-dark-2: #838383;
$color-gray-dark-3: #333;
$color-gray-dark-4: #666;
$color-gray-dark-5: #758294;

$color-widget-title: #ccc;
$color-widget-text: #888;

$color-white: #fff;
$color-black: #0b0b0b;

// font
$default-font-size: 1.125rem;
$default-line-height: 1.5;

// font family
$font-Montserrat: 'Montserrat',
sans-serif;
$font-Lora: 'Lora',
serif;
$font-Muli: 'Muli', sans-serif;

// breakpoint
$breakpoints: (phone: 576px,
    tablet: 768px,
    laptop: 992px,
    desktop: 1200px);

$breakpoints-simple: (sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px);