// colors
$color-primary: #ee3364;
$color-secondary: #00b5bc;
//$color-tertiary-light: #2998ff;
//$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-gray-light-3: #ddd;

$color-gray-dark-1: #777;
$color-gray-dark-2: #838383;
$color-gray-dark-3: #333;
$color-gray-dark-4: #666;
$color-gray-dark-5: #758294;
$color-gray-dark-6: #5c5c5c;

$color-black: #0b0b0b;
$color-dark: #191919; // dont use ???
$color-white: #fff;

// list colors
$list-color: (primary: $color-primary,
        secondary: $color-secondary,
        black: $color-black,
        white: $color-white);

// font
$default-font-size: 1rem;
$default-line-height: 1.5;

// font family
$font-Montserrat: 'Montserrat',
sans-serif;
$font-Lora: 'Lora',
serif;
$font-Muli: 'Muli', sans-serif;

// list gap
$list-gap: (zero: 0, big: 3.75rem, medium: 1.875rem, small: 1.25rem, xsmall: .625rem);

// breakpoint
$breakpoints: (phone: 576px,
    tablet: 768px,
    laptop: 992px,
    desktop: 1200px);

$breakpoints-simple: (sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px);