.iz-tooltip {
    position: relative;
    display: inline-block;
    font-style: italic;
    color: #171933;
    cursor: pointer;
    z-index: 1;

    &:hover {

        &::before,
        &::after {
            visibility: visible;
            opacity: 1;
        }
    }

    &::before,
    &::after {
        content: attr(data-iz-tooltip);
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: 100%;
        transform: translateX(-50%);
        white-space: nowrap;
        padding: 0 12px;
        border-radius: 2px;
        color: var(--color-white);
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        transition: all .3s;
    }

    &::before {
        background: #171933;
    }

    &::after {
        border-color: #171933 transparent transparent transparent;
    }

    &::after {
        content: '';
        bottom: auto;
        top: 0;
        width: 0;
        height: 0;
        border-radius: 0;
        border-style: solid;
        border-width: 5px 5.5px 0 5.5px;
        padding: 0;
    }

    &.iz-tooltip--bottom {
        &::before {
            bottom: auto;
            top: 100%;
        }

        &::after {
            top: auto;
            bottom: 0;
            border-width: 0 5.5px 5px 5.5px;
            border-color: transparent transparent #171933 transparent;
        }
    }
}