.u-margin-bottom-big {
    margin-bottom: 8rem !important;

    @include respond-above(tablet) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond-above(tablet) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}

// Hidden class
.d-md-down-none {
    @include respond-below(laptop) {
        display: none !important;
    }
}

.d-lg-up-none {
    @include respond-above(tablet) {
        display: none !important;
    }
}

//--- COLOR, BACKGROUND-COLOR
$list-color: (
    primary: var(--color-primary),
    secondary: var(--color-secondary),
    link: var(--color-link),
    black: var(--color-black),
    white: var(--color-white));

@each $color-name,
$color-value in $list-color {
    .iz-text-#{$color-name} {
        color: $color-value;
    }

    .iz-bg-#{$color-name} {
        background: $color-value;
    }
}


//--- MARGIN, PADDING
$list-ulti: (0: 0, big: 3.75rem, medium: 1.875rem, small: 1.25rem, xsmall: .625rem);

@each $k,
$v in $list-ulti {
    
    .m-#{$k} {
        margin: $v;
    }

    .mx-#{$k} {
        margin-top: $v;
        margin-bottom: $v;
    }

    .my-#{$k} {
        margin-left: $v;
        margin-right: $v;
    }

    .mb-#{$k} {
        margin-bottom: $v;
    }

    .ml-#{$k} {
        margin-left: $v;
    }

    .mt-#{$k} {
        margin-top: $v;
    }

    .mr-#{$k} {
        margin-right: $v;
    }

    .p-#{$k} {
        padding: $v;
    }

    .px-#{$k} {
        padding-top: $v;
        padding-bottom: $v;
    }

    .py-#{$k} {
        padding-left: $v;
        padding-right: $v;
    }

    .pb-#{$k} {
        padding-bottom: $v;
    }

    .pl-#{$k} {
        padding-left: $v;
    }

    .pt-#{$k} {
        padding-top: $v;
    }

    .pr-#{$k} {
        padding-right: $v;
    }

    @each $breakpoint,
    $breakpoint-pixel in $breakpoints-simple {
        @include respond-above($breakpoint) {
            .m-#{$breakpoint}-#{$k} {
                margin: $v;
            }

            .mx-#{$breakpoint}-#{$k} {
                margin-top: $v;
                margin-bottom: $v;
            }
        
            .my-#{$breakpoint}-#{$k} {
                margin-left: $v;
                margin-right: $v;
            }

            .mb-#{$breakpoint}-#{$k} {
                margin-bottom: $v;
            }

            .ml-#{$breakpoint}-#{$k} {
                margin-left: $v;
            }

            .mt-#{$breakpoint}-#{$k} {
                margin-top: $v;
            }

            .mr-#{$breakpoint}-#{$k} {
                margin-right: $v;
            }

            .p-#{$breakpoint}-#{$k} {
                padding: $v;
            }

            .px-#{$breakpoint}-#{$k} {
                padding-top: $v;
                padding-bottom: $v;
            }
        
            .py-#{$breakpoint}-#{$k} {
                padding-left: $v;
                padding-right: $v;
            }

            .pb-#{$breakpoint}-#{$k} {
                padding-bottom: $v;
            }

            .pl-#{$breakpoint}-#{$k} {
                padding-left: $v;
            }

            .pt-#{$breakpoint}-#{$k} {
                padding-top: $v;
            }

            .pr-#{$breakpoint}-#{$k} {
                padding-right: $v;
            }
        }
    }
}