.u-margin-bottom-big {
    margin-bottom: 8rem !important;

    @include respond-above(tablet) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond-above(tablet) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.u-margin-top-big {
    margin-top: 8rem !important;
}

.u-margin-top-huge {
    margin-top: 10rem !important;
}

// Hidden class
.d-md-down-none {
    @include respond-below(laptop) {
        display: none !important;
    }
}

.d-lg-up-none {
    @include respond-above(tablet) {
        display: none !important;
    }
}

// UL, OL
.iz-uo-menu {
    margin: 0;
    padding: 0;
    list-style: none;
    ul, ol {
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

//--- COLOR, BACKGROUND-COLOR
$list-color: (primary: var(--color-primary),
    pink: var(--color-secondary-pink),
    blue: var(--color-secondary-blue),
    orange: var(--color-link),
    black: var(--color-black),
    white: var(--color-white));

@each $color-name,
$color-value in $list-color {
    .iz-text-#{$color-name} {
        color: $color-value;
    }

    .iz-bg-#{$color-name} {
        background: $color-value;
    }
}


//--- MARGIN, PADDING
$list-ulti: (big: rem(60px), medium: rem(30px), small: rem(22px), xsmall: rem(10px));

@each $k,
$v in $list-ulti {
    .mb-#{$k} {
        margin-bottom: $v;
    }

    .ml-#{$k} {
        margin-left: $v;
    }

    .mt-#{$k} {
        margin-top: $v;
    }

    .mr-#{$k} {
        margin-right: $v;
    }

    .pb-#{$k} {
        padding-bottom: $v;
    }

    .pl-#{$k} {
        padding-left: $v;
    }

    .pt-#{$k} {
        padding-top: $v;
    }

    .pr-#{$k} {
        padding-right: $v;
    }
}