// Hidden class
.d-md-down-none {
    @include respond-below(laptop) {
        display: none !important;
    }
}

.d-lg-up-none {
    @include respond-above(tablet) {
        display: none !important;
    }
}

//--- COLOR, BACKGROUND-COLOR
@each $color-name,
$color-value in $list-color {
    .iz-text-#{$color-name} {
        color: $color-value !important;
    }

    .iz-bg-#{$color-name} {
        background: $color-value !important;
    }
}

//--- MARGIN, PADDING
@each $k,
$v in $list-gap {

    .m-#{$k} {
        margin: $v;
    }

    .my-#{$k} {
        margin-top: $v;
        margin-bottom: $v;
    }

    .mx-#{$k} {
        margin-left: $v;
        margin-right: $v;
    }

    .mb-#{$k} {
        margin-bottom: $v;
    }

    .ml-#{$k} {
        margin-left: $v;
    }

    .mt-#{$k} {
        margin-top: $v;
    }

    .mr-#{$k} {
        margin-right: $v;
    }

    .p-#{$k} {
        padding: $v;
    }

    .py-#{$k} {
        padding-top: $v;
        padding-bottom: $v;
    }

    .px-#{$k} {
        padding-left: $v;
        padding-right: $v;
    }

    .pb-#{$k} {
        padding-bottom: $v;
    }

    .pl-#{$k} {
        padding-left: $v;
    }

    .pt-#{$k} {
        padding-top: $v;
    }

    .pr-#{$k} {
        padding-right: $v;
    }
}

@each $k,
$v in $list-gap {

    @each $breakpoint,
    $breakpoint-pixel in $breakpoints-simple {
        @include respond-above($breakpoint) {
            .m-#{$breakpoint}-#{$k} {
                margin: $v;
            }

            .my-#{$breakpoint}-#{$k} {
                margin-top: $v;
                margin-bottom: $v;
            }

            .mx-#{$breakpoint}-#{$k} {
                margin-left: $v;
                margin-right: $v;
            }

            .mb-#{$breakpoint}-#{$k} {
                margin-bottom: $v;
            }

            .ml-#{$breakpoint}-#{$k} {
                margin-left: $v;
            }

            .mt-#{$breakpoint}-#{$k} {
                margin-top: $v;
            }

            .mr-#{$breakpoint}-#{$k} {
                margin-right: $v;
            }

            .p-#{$breakpoint}-#{$k} {
                padding: $v;
            }

            .py-#{$breakpoint}-#{$k} {
                padding-top: $v;
                padding-bottom: $v;
            }

            .px-#{$breakpoint}-#{$k} {
                padding-left: $v;
                padding-right: $v;
            }

            .pb-#{$breakpoint}-#{$k} {
                padding-bottom: $v;
            }

            .pl-#{$breakpoint}-#{$k} {
                padding-left: $v;
            }

            .pt-#{$breakpoint}-#{$k} {
                padding-top: $v;
            }

            .pr-#{$breakpoint}-#{$k} {
                padding-right: $v;
            }
        }
    }
}